@charset "utf-8";
/* CSS Document */
body {
	background-color:#f5f3ef;
}
#container {
	width: 90%;
	margin: 0px auto;
}
.main-text {
	font-size:22px;
	color: #333F7B;
}
.clear {clear:both;}

.image1 {
	width:200px;
	height: 39px;
	margin: 30px auto;
	background-image: url(images/AnneNeilsonHOME-logo.png);
	text-indent: -9000px;
	background-size:cover;
}
.image2 {
	width: 100%;
	margin: 0px atuo 10px auto;
	overflow: hidden;
}
.image2 img {
	width: 100%;
}
.image2 a {
	display:block;
}

#socialfooter {
	width: 170px;
	position: relative;
	margin: 10px auto;
	z-index: 6;	
	color:#aea79f;
	font-size: 18px;
	font-weight: 300;
	display:block;
	height:35px;
}
 #socialfooter  ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	z-index: 2;
	position: relative;
}
 #socialfooter  ul li {
	float: left;
	position: relative;
	margin: 0px 5px;
}
 #socialfooter  ul a {
	text-decoration: none;
	background-image: url(images/icons.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 32px;
	text-indent: -9000px;
	position: relative;
}
#socialfooter  .facebook a {
	width:32px;
	background-position: -0px -0px;
	position: relative;
}
#socialfooter .facebook a:hover {
	background-position: -0px -32px;
}
#socialfooter  .twitter a {
	width:32px;
	background-position: -35px 0px;
	position: relative;
}
#socialfooter  .twitter a:hover {
	background-position: -35px -32px;
}
#socialfooter  .instagram a {
	width:32px;
	background-position: -70px 0px;
	position: relative;
}
#socialfooter  .instagram a:hover {
	background-position: -70px -32px;
}
#socialfooter  .pintrest a {
	width:32px;
	background-position: -105px 0px;
	position: relative;
}
#socialfooter  .pintrest a:hover {
	background-position: -105px -32px;
}
/* Minimum width of 600 pixels. */
/*@media screen and (min-width: 600px) {
	#container {
		width: 1130px;
		margin: 0px auto;
	}
}*/
/* Minimum width of 600 pixels. */
@media screen and (min-width: 1130px) {
	#container {
		width: 1130px;
		margin: 0px auto;
	}
	.image1 {
		width:307px;
		height: 60px;
	}
	.image2 {
		width: 1130px;
	}
}